*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --small: .8px;
    --medium: 1.2vw;
    --large: 1.6vw;
}

.header{
    height: 4vw;
    width: 100%;
    display: flex;
    box-shadow: 1px 1px 5px 1px gray;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.header__title{
    width: 20%;
    height: 100%;
    background-color: #1D3557;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title-text{
    text-align: center;
    font-size: var(--large);
    color: white;
    font-weight: bolder;
}

.header__nav{
    margin-left: 30px;
}

.header__nav-list{
    height: 100%;
    display: flex;
    align-items: center;
}

.header__nav-item{
    list-style: none;
    margin-right: 20%;
}

.header__nav-button{
    border: none;
    background-color: white;
    font-size: var(--medium);
}

.header__nav-button:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.main{
    margin-top: 6vw;
}

.main__presentation{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.main__presentation-image{
    width: 100%;
    box-shadow: 1px 1px 5px 1px gray;
}

.main__presentation-title{
    position: absolute;
    top: 70%;
    left: 25%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5vw;
    border-bottom: 1px solid white;
}

.main__presentation-description{
    position: absolute;
    top: 82%;
    left: 43%;
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

.content__perfil{
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.perfil__image{
    width: 55%;
    margin-left: 7vw;
}

.perfil__image-image{
    width: 80%;
    box-shadow: 1px 1px 5px 1px gray;
}

.perfil__description{
    position: absolute;
    background-color: white;
    left: 40vw;
    width: 50%;
    height: 60%;
    border: 1px solid gray;
    padding: 2% 3%;
    box-shadow: 1px 2px 5px 1px gray;
}

.perfil__description-text{
    font-size: 1vw;
    text-align: justify;
}

.main__education{
    margin: 100px 0;
}

.education__titles{
    display: flex;
    justify-content: space-around;
}

.education__title{
    width: 15vw;
    height: 15vw;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.education__title:hover{
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.education__title-image{
    width: 100%;
    object-fit: cover;
    z-index: 2;
    position: relative;
    transition: opacity 0.5s ease; 
}

.title__info{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.education__title:hover .title__info{
    opacity: 1;
    z-index: 2;
}

.education__title:hover .education__title-image{
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 1400px) {
    .perfil__description-text{
        font-size: 1.1vw;
    }
}